<section id="main-footer" class="p-1">
    <aside class="">
        <h4 class="center">Books Store</h4>
        <p class="" ><i>Books Store</i> is online store for sell the best books in the world, in many languages and by the lowest price in the books market</p>
    </aside>
    <div class="rights fl-row">
    <p>All rights recived by &copy; <i>Books Store</i> 2020 </p>
    </div>
    <div class="social fl-row">
        <div class="social-box t"></div>
        <div class="social-box f"></div>
        <div class="social-box i"></div>
        <div class="social-box g`"></div>
    </div>
</section>