#cart-container{
    background-color: inherit;
}

@media (max-width:650px){
    #cart-container{
        padding: 2rem 0.5rem;
    }

    .container{
        padding: 0;
    }
}

.row{
    
    border: 1px solid #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.cart-info {
    position: relative;
    padding:  0 2rem;
}

.cart-info h4{
    display: inline-block;
    font-size: 1.4rem;
}

.cart-info .btn-container {
    float: right;
}

@media (max-width:650px){
    .cart-info .btn-container{
        position: absolute;
        bottom: 10px;
        right: 5px;
    }

    .cart-info h4 {
        font-size: 1.2rem;
    }
}

.cart-info h4:first-child{
    margin-right: 2rem;
}
@media(max-width:650px){
    .cart-info{
        padding: 0;
    }

    .cart-info h4 {
        font-size: 1rem;
    }

}

.grid-5{
    display: grid;
    grid-template-columns: repeat(2,1fr) repeat(3,0.5fr);
}




.col {
    border-bottom: 0.5px solid #888;
}



.col span{
    display: inline-block;
    margin: 1rem 0;
}

.col img{
    height: 100px;
}

@media (max-width:650px){
    .col img{
        height: 80px;
    }

    .col h4 {
        font-size: 0.8rem;
        text-align: center;
    }
    .col:nth-child(2) h4 {
        text-align: left;
    }

    .col span {
        font-size: 0.9rem;
    }
}

.col#quanity{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.col.fl-row-start{
    display: flex;
    align-items: center;
}
.arrows{
    margin-top: -0.3rem;
}
.arrows img {
    height: 10px;
    margin-bottom: 0.5rem;
}



