#store-container{
    background-color: #fff;   
}


.grid-3{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}

.item-box{
    max-width: 100%;
    height: 400px;
    overflow: hidden;
    border: 1px solid #333;
}

.item-box .img-container{
    height: 65%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.item-box .item-info .item-name{
    font-size: 1.4rem;
    padding: 0 0.5rem;
}

.item-name span {
    float: right;
}

