<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store | 
    {% block title %}
        {% comment %}  {% endcomment %}
    {% endblock title %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\style.css' %}">
    {% block css %}
        {% comment %}  {% endcomment %}
    {% endblock css %}
</head>
<body>
    <header>
        {% include 'partials\navbar.html' %}
    </header>
    <main>
    {% block content %}
        {% comment %}  {% endcomment %}
    {% endblock content %}
    </main>
    <footer>
        {% comment %}  {% endcomment %}
    </footer>
    {% load static %}
    <script src="{% static 'js\store\main.js' %}"></script>
    {% block js %}
    {% endblock js %}
</body>
</html>