{% extends 'base.html' %}

{% block title %}
{{page_title|title}}
{% endblock title %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\store\cart.css' %}">
{% endblock css %}

{% block content %}
    <section id="cart-container" class="p-1">
        <div class="container p-1">
            {% if items %}
            <section class="row p-1">
                <a href="{% url 'store:store' %}" class="btn btn-basic">
                    <span class="arrow">
                        <div class="lineT"></div>
                        <div class="lineB"></div>
                    </span>
                    <span> Continue Shipping</span>
                </a>
                <br>
                <br>
                <hr>
                <br>
                <div class="cart-info">
                    <h4>Items: <strong id="cart-items">{{order.get_items_cart}}</strong></h4>
                    <h4>Total: <strong id="cart-total">${{order.get_total_cart|floatformat:2}}</strong></h4>
                    <div class="btn-container">
                        <a href="{% url 'store:checkout' %}" class="btn-sec btn">Checkout</a>
                    </div>
                </div>
            </section>
            <div class="row p-1 m-2">
            <section class="grid-5">
                <div class="col"></div>
                <div class="col"><h4>Item</h4></div>
                <div class="col"><h4>Price</h4></div>
                <div class="col"><h4>Quantity</h4></div>
                <div class="col"><h4>Total</h4></div>
           </section>
           <hr>
           <section class="grid-5">
                {% for item in items %}
                <div class="col center">
                    <img class="p-1" src="{{item.product.imageURL}}" alt="product-img">
                </div>
                <div class="col fl-row-start"><span id="product-item">{{item.product.name}}</span></div>
                <div class="col fl-row-start"><span id="product-price">${{item.product.price|floatformat:2}}</span></div>
                <div class="col" id="quanity">
                    <span id="product-quantity">{{item.quantity}}</span>
                    <div class="arrows fl-col p-1">
                        {% load static %}
                            <img class="add-item" productId="{{item.product.id}}" action="add" src="{% static 'media\3+arrow-up.png' %}" alt="arrow-up"></a>
                            <img class="sub-item" productId="{{item.product.id}}" action="remove"  src="{% static 'media\2+arrow-down.png' %}" alt="arrow-up">
                    </div>
                </div>
                <div class="col fl-row-start"><span id="product-total">{{item.get_total}}</span></div>
                {% endfor %}
           </section>
            </div>
            {% else %}
            <section class="row p-1">
                <a href="{% url 'store:store' %}" class="btn btn-basic">
                    <span class="arrow">
                        <div class="lineT"></div>
                        <div class="lineB"></div>
                    </span>
                    <span> Continue Shipping</span>
                </a>
                <br>
                <br>
                <hr>
                <br>
                <div class="cart-info fl-row">
                    <h4 class='center'>Your cart is emity</h4>
                </div>
            </section>
            {% endif %}
        </div>
    </section>
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static 'js\store\cart.js' %}"></script>
{% endblock js %}

