{% extends 'base.html' %}

{% block title %}
{{page_title|title}}
{% endblock title %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\store\checkout.css' %}">
{% endblock css %}

{% block content %}
    <div id="checkout-container">
        <div class="container p-1">
            <div class="row">
                <div class="col">
                    <form action="" id="payment-form" order="{{ordere}}">
                        <div id="user-info" class="p-1">
                            <h2 class="p-0">Coustomer Information</h2>
                            <hr>
                            <br>
                            <input  placeholder="Name" name='name' type="text">
                            <input   placeholder="email" type="email" name="email">
                            <br>
                            <br>
                            <hr>
                        </div>
                        <div id="shipping-info" class="p-1">
                            <h2 class="p-0">Coustomer Address</h2>
                            <hr>
                            <br>
                            <input required type="text"  name="country" placeholder="Contry">
                            <input required type="text"  name="city" placeholder="City">
                            <input required type="text"  name="street" placeholder="Street">
                            <input required type="text"  name="zipCode" placeholder="Zip Code">
                        </div>
                        <input type="submit" class="btn btn-primary" value="Contunue">
                    </form>
                    <br>
                    <div id="payment-window" class="payment-method p-1 hidden">
                        <a id="pay-btn" href="#" class="btn btn-sec">Payment Methods</a>
                    </div>
                </div>
                <div class="col">
                    <div class="p-1"><a href="{% url 'store:cart' %}" class="btn btn-basic">Back to cart</a></div>
                    <hr>
                    <h2 class="p-1">Order Summary</h2>
                    <hr>
                    <div class="grid-4">
                        {% for item in items %}
                        <div class="item-img fl-row p-1">
                            <img src="{{item.product.imageURL}}" alt="product-img">
                        </div>
                        <div class="item-name fl-row">
                            <h4>{{item.product.name}}</h4>
                        </div>
                        <div class="item-price fl-row">
                            <h4>${{item.product.price|floatformat:2}}</h4>
                        </div>
                        <div class="item-quantity fl-row">
                            <h4>X{{item.quantity}}</h4>
                        </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="item-info">
                        <h4>Items: <strong id="cart-items">{{order.get_items_cart}}</strong></h4>
                        <h4>Total: <strong id="cart-total">${{order.get_total_cart|floatformat:2}}</strong></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block js %}
    <script>
        function goHome(){
         window.location.href = "{% url 'store:store' %}"
}
    </script>
    {% load static %}
    <script src="{% static 'js\store\checkout.js' %}"></script>
{% endblock js %}