{% extends 'base.html' %}

{% block css %}
    {% load static %}
    <link rel="stylesheet" href={% static 'css\store\home.css' %}>
{% endblock css %}

{% block title %}
    {{page_title|title}}
{% endblock title %}

{% block content %}
    <section id="store-container" class="p-1">
        <div class="container grid-3">
            {% for book in books %}
            <div class="item-box">
                <div class="img-container fl-row">
                    <img src="{{book.imageURL}}" alt="item-img">
                </div>
                <div class="item-info">
                    <h4 class="item-name">
                    <span>{{book.name|title}}</span>
                    <span class="item-price">${{book.price|floatformat:2}}</span>
                    </h4>
                    <hr>
                    <br>
                    <a href="" class="btn btn-primary" id="addToCart" action="add" productId="{{book.id}}" style="margin-left:1rem;" >Add To Cart</a>
                    <a href="" class="btn btn-sec">View</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

{% endblock content %}

{% block js %}
{% endblock js %}