{% extends 'base.html' %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'css\store\account.css' %}">
{% endblock css %}

{% block title %}
{{page_title|title}}
{% endblock title %}

{% block content %}

<div class="container" style="margin-top:5%;">
    <section class="order-box p-1 m-1">
    <header class="p-1">
        <div class="order-no mx-1">
            <h4>Order No. {{order.id}} {% if order.complate %}<small class="success-message" >Shipped</small> {% else %} <small class="info-message" >Not Shipped</small> {% endif %}</h4>
        </div>
        <div class="v-line"></div>
        <div class="order-total mx-1">
            <p><strong>Total:</strong><small>${{order.get_total_cart}}</small></p>
            <p><strong>Items:</strong><small>{{order.get_items_cart}}X</small></p>
        </div>
        <div class="v-line"></div>
        <div class="order-shipping-address">
            {% for address in order.shippingaddress_set.all %} 
            <p><small>{{address.country}}</small></p>
            <p><small>{{address.city}}</small></p>
            <p><small>{{address.street}}</small></p>
            <p><small>{{address.zipCode}}</small></p> 
            {%endfor %}
        </div>
        <div class="controls fl-col">
        <a href="#" class="btn btn-sec">Bay Again</a>
        <a href="#" class="btn btn-dark">View Order</a>
        </div>
    </header>
    <hr>
    <div id="order-info">
        <h5>Some from order's Items</h5>
        <div id="order-detail">
            <div class="grid-5">
                {% for item in order.items_order %}
                
                <div class="col center" style="display:block;">
                    <img class="p-1" src="{{item.product.imageURL}}" alt="product-img">
                </div>
                <div class="col">{{item.product.name}}</div>
                <div class="col">${{item.product.price|floatformat:2}}</div>
                <div class="col">{{item.quantity}}X</div>
                <div class="col">${{item.get_total}}</div>
                {% endfor %}
            </div>
        <div class="controls fl-col">
        <a href="#" class="btn">Write Feadback</a>
        <a href="#" class="btn">Change Address</a>
        <a href="#" class="btn">Return Items</a>
        <a href="#" class="btn">Need Help</a>
        <a href="#" class="btn">Delete Order</a>
        </div>
        </div>
        
    </div>
    {% comment %} <ol>
    {% for item in ord.orderitem_set.all %}
        
            <li>{{item.product.name}}</li>
        
    {% endfor %}
    </ol> {% endcomment %}
    </section>
    

    
</div>
{% endblock content %}

{% block js %}
{% endblock js %}